language: generic

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: false
      env:
        - PYTHON_VERSION=3.6
        - CONDA_PLATFORM=Linux-x86_64
        - CFG_PREFIX=linux_64
        - MPI=nompi
    - os: linux
      dist: trusty
      sudo: false
      env:
        - PYTHON_VERSION=3.7
        - CONDA_PLATFORM=Linux-x86_64
        - CFG_PREFIX=linux_64
        - MPI=nompi
    - os: linux
      dist: trusty
      sudo: false
      env:
        - PYTHON_VERSION=3.8
        - CONDA_PLATFORM=Linux-x86_64
        - CFG_PREFIX=linux_64
        - MPI=nompi

    - os: linux
      dist: trusty
      sudo: false
      env:
        - PYTHON_VERSION=3.6
        - CONDA_PLATFORM=Linux-x86_64
        - CFG_PREFIX=linux_64
        - MPI=mpich
    - os: linux
      dist: trusty
      sudo: false
      env:
        - PYTHON_VERSION=3.7
        - CONDA_PLATFORM=Linux-x86_64
        - CFG_PREFIX=linux_64
        - MPI=mpich
    - os: linux
      dist: trusty
      sudo: false
      env:
        - PYTHON_VERSION=3.8
        - CONDA_PLATFORM=Linux-x86_64
        - CFG_PREFIX=linux_64
        - MPI=mpich


    - os: osx
      env:
        - PYTHON_VERSION=3.6
        - CONDA_PLATFORM=MacOSX-x86_64
        - CFG_PREFIX=osx_64
        - MPI=nompi
    - os: osx
      env:
        - PYTHON_VERSION=3.7
        - CONDA_PLATFORM=MacOSX-x86_64
        - CFG_PREFIX=osx_64
        - MPI=nompi
    - os: osx
      env:
        - PYTHON_VERSION=3.8
        - CONDA_PLATFORM=MacOSX-x86_64
        - CFG_PREFIX=osx_64
        - MPI=nompi

    - os: osx
      env:
        - PYTHON_VERSION=3.6
        - CONDA_PLATFORM=MacOSX-x86_64
        - CFG_PREFIX=osx_64
        - MPI=mpich
    - os: osx
      env:
        - PYTHON_VERSION=3.7
        - CONDA_PLATFORM=MacOSX-x86_64
        - CFG_PREFIX=osx_64
        - MPI=mpich
    - os: osx
      env:
        - PYTHON_VERSION=3.8
        - CONDA_PLATFORM=MacOSX-x86_64
        - CFG_PREFIX=osx_64
        - MPI=mpich


install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-${CONDA_PLATFORM}.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p $HOME/miniconda
  - export PATH=$HOME/miniconda/bin:$PATH
  - conda update --yes -q conda
  - conda config --set always_yes true
  - conda config --set anaconda_upload no
  - conda install pip conda-build anaconda-client ripgrep

script:
  - conda build -m ./conda-configs/${CFG_PREFIX}_mpi${MPI}python${PYTHON_VERSION}.____cpython.yaml --python ${PYTHON_VERSION} -c simpetus -c conda-forge recipe

after_success:
  - chmod +x ./conda_upload.sh

deploy:
  - provider: script
    script: ./conda_upload.sh main
    on:
      branch: master
    skip_cleanup: true
